
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_example {
	margin: 25px 0 0 0;
}

#selected-library {
  border: 1px solid #333;
  font-size: 24px;
  height: 42px;
  padding: 5px 2px;
  width: 145px;
  margin: 0 0 15px 0;
}

#example_length select {
  width:75px;
}

.dataTables_paginate {
  margin-bottom:8px;
  margin-top:8px;
}

#add-data {
  margin-top:8px;
}

.delete-row {
  text-decoration:none;
  color:red;
}
