body{
	font-size:75%;
	font-family:Arial, Verdana, sans-serif;
	background:#fff;
	color:#333;
	padding-top:20px;
}

.wrapper {
    position:relative;
    margin:auto;
    width:1000px;
}

.print-map {
  display:block;
  margin-left:auto;
  margin-right:auto;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

.map {
  position:absolute;
  z-index:3;
  left:50%;
}

.harvard-logo {
  margin-bottom:10px;
}

.header {
  position:relative;
}

.header h2 {
  text-align:center;
}

.header p {
  font-size:1.2em;
  color:#666;
  text-align:center;
}

.row-text {
  color:#FF4105;
}

.have-feedback {
  color: #005d81;
}

.map span {
	/*background-color: #eee;*/
	display:block;
	float:left;
	overflow:hidden;
	border-color:#005d81;
}

.map span img {
  display:none;
}

.clear {
  clear:both;
}

@media print {
   .map span img{
      display: block;
      height:100%;
      width:100%;
      vertical-align:top;
   }
}

#feedback-form {
  width:320px;
  margin-left:-157px;
}

#submit-feedback {
  margin-right:25px;
  width:100px;
}

#cancel-feedback {
  margin-right:15px;
  padding-top:5px;
}
