body{
	font-size:75%;
	font-family:Arial, Verdana, sans-serif;
	background:#fff;
	color:#333;
	padding-top:20px;
}

.print-map {
  position:relative;
  display:inline;
  z-index:2;
}

.map {
  position:absolute;
  z-index:3;
}

.harvard-logo {
  margin-bottom:10px;
}

.map span {
	/*background-color: #eee;*/
	display:block;
	float:left;
	overflow:hidden;
}

.map span img {
  display:none;
}

.clear {
  clear:both;
}

@media print {
   .map span img{
      display: block;
      height:100%;
      vertical-align:top;
   }
}

#feedback-form {
  width:320px;
  margin-left:-157px;
}

#submit-feedback {
  margin-right:25px;
  width:100px;
}

#cancel-feedback {
  margin-right:15px;
  padding-top:5px;
}
