body{
	padding-top:20px;
}

.wrapper {
    position:relative;
    margin:auto;
    width:1000px;
}

.print-map {
  display:block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

.map {
  position:absolute;
  z-index:3;
  left:50%;
  top:0px;
}

.harvard-logo {
  margin-bottom:10px;
}

.header {
  position:relative;
}

.header h2 {
}

.header p {
  color:#666;
}

.row-text {
  color:#FF4105;
}

.item-info {
    margin-top:20px;
}

.item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:5px;
    line-height:1.3em;
}

@media (min-width:768px)
{
  .text-right-responsive {text-align:right;}
  .text-left-responsive {text-align:left;}
} 

@media (min-width: 1024px) {
    .print-map {
        margin-left:auto;
        margin-right:auto;
    }
}

@media print {
    .print-map {
        margin-left:0;
        margin-right:0;
    }
}

.map span {
	/*background-color: #eee;*/
	display:block;
	float:left;
	overflow:hidden;
	border-color:#005d81;
	box-sizing:content-box;
}

.map span img {
  display:none;
}

.clear {
  clear:both;
}

@media print {
   .map span img{
      display: block;
      height:100%;
      width:100%;
      vertical-align:top;
   }
}

.have-feedback {
    padding:0px;
    color: #005d81;
}

#submit-feedback {
  width:100px;
}
