/*/Overwriting bootstripped navigation/*/
body {
	margin:0;
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

.container {
	margin-top:20px;	
}

.nav {
	margin-top:0px;
}

.nav > li > a {
	-webkit-transition:background 40ms linear;  
   	-moz-transition:background 40ms linear;  
   	-o-transition:background 40ms linear;  
   	transition:background 40ms linear;  
  	text-align:center;
	margin: 0 auto 9px;
	padding: 9px 0;
	background:#00ACA0;
	color:#fff;
	display:block;
	font-weight: bold;
	font-size:18px;
}

.nav > li > a:hover {
  	text-decoration: none;
  	color:#fff;
  	background-color: #00cec0;
}

.nav > li.active a {
  	text-decoration: none;
  	color:#ccc;
  	background-color: #008a80;
}
.nav > li.active a:hover {

}

#blog1 {
	margin-top:-10px;
}

.blog, .home {
	margin:0;
	height:0;
}
#blog2 {
	margin-top:55px; 
}

#blog3 {
	margin-top:50px;
}
.project {
	position: relative;
	text-align:center; /*/To keep the images centered when everything slims/*/
	font-weight: bold;
	color:#fff;
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 15px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height:320px;
}

.project img {
	max-width:300px;
	height:auto;
}



.description {
	color:#09f;
	margin: 0;
	line-height: 17px;
	padding: 0 12px 0px;
	font-size: 13px;
	text-shadow: 0px 1px 0px #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width:250px;
	text-align:center;

	
}

.description p {
	padding:0px 0px 0;
	color:#333;
	text-align: left;
}

.description p a, .description p a:hover{
	text-decoration: none;
	color: #23bf17;
}

.description img {
	text-align:left;
	height:auto;
	width:100%;
	cursor:pointer;
}

.description p {

}

.location {
	margin-top:60px;
}


.people img {
  position:relative;
  margin-right:8px;
  width:122px;
  float:left;
  max-width:100%;
  height:auto;
}

#people2 {

}

.mug {
	width:100%;
}

.bio {
	color:#09f; 
	font-size:13px; 
	line-height: 17px;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;  
	-moz-text-overflow: ellipsis; 
	-webkit-text-overflow: ellipsis; 
	
}

#bigProject2 {
	margin-top:-50px;
}






.blog-post {
  	color:#09f;
  	padding:3px 15px 00px 15px;
  	height:135px;
  	cursor:pointer;
	background:#ff0;
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;  
	-moz-text-overflow: ellipsis; 
	-webkit-text-overflow: ellipsis; 
	-webkit-transition-property:color, background; 
	-webkit-transition-duration: 60ms;
	-webkit-transition-timing-function: linear;  
   	-moz-transition-property:color, background;
   	-moz-transition-duration: 60ms;
   	-moz-transition-timing-function: linear;    
   	transition-property:color, background; 
	transition-duration: 60ms;
	transition-timing-function: linear;  
}

.blog-post:hover {
	background:#f76f44;
}

.blog-post:hover h3 { 
	color:#ff0;
}

h4 a, h4{
	text-align:left;
	font-size:14px;
	line-height:16px;
}



h5 a:hover {
	color:#09f
}

.title {
	margin-top:-60px;
}

.title h1 {
	font-size:36px;
	font-weight:normal;
}

.title2 {
	height:300px;
	margin-top:0px;
}

.title2 h1 {
	font-size:68px;
	line-height:72px;
}


.stamp {
	position:absolute;
	margin:-258px 0 0 260px;
	opacity:.6;
	z-index: -1;
}

.stamp2 {
	position:absolute;
	margin:-256px 0 0 265px;
	opacity:.6;
	z-index: -1;
}

.stamp-about {
	float:left;
	margin-top:20px;
	opacity:.6;
	z-index: -1;
}


footer p {
	color:#ccc;
	text-shadow: 1px 1px 0px #fff;
	text-align:right;
	margin:0px -10px;
	padding-top:10px;
	font-size:12px;
}

footer p a {
	color:#aaa;
}

.footer-class {

}
h3 a, h3 {
	-webkit-transition-property:color; 
	-webkit-transition-duration: 60ms;
	-webkit-transition-timing-function: linear;  
   	-moz-transition-property:color;
   	-moz-transition-duration: 60ms;
   	-moz-transition-timing-function: linear;    
   	transition-property:color; 
	transition-duration: 60ms;
	transition-timing-function: linear;  
	color:#2e015e;
	text-align:left;
	margin:8px 0;
	padding:0;
	line-height:24px;
}

h3 a:hover {
	text-decoration:none;
}



h3.type-leading{
	line-height:12px;
}

/*/ about us page/*/

.text-block {
	color:#ff5b27;

	font-weight: bold;

	line-height: 20px;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left:0;
}

.text-block h1 {
	font-size:28px;
	line-height:28px;
	color:#111; 
	margin-top:-14px;
}

.text-block p {
	font-size:16px;
	line-height:20px;
	color:#000;
}

.text-block p a {
	font-size:18px;
	line-height:24px;
	color:#2e015e;
	text-decoration:underline;
}

.inverse-block {
	font-size:18px;
	line-height:24px;
	background:#eee;
	color:#09f;
	padding:20px;
}

.inverse-block p {
	font-size:18px;
	line-height:24px;
	background:#09f;
	color:#fff;
	padding:20px;
}

.highlight {
	background:#ff0;
	color:#23BF17;
}

h3 a {
	-webkit-transition-property:color; 
	-webkit-transition-duration: 60ms;
	-webkit-transition-timing-function: linear;  
   	-moz-transition-property:color;
   	-moz-transition-duration: 60ms;
   	-moz-transition-timing-function: linear;    
   	transition-property:color; 
	transition-duration: 60ms;
	transition-timing-function: linear;  
	color:#888;
	text-decoration:none;
}

h3 a:hover {
	color:#09f;
	
}

.row {
	margin-bottom:20px;
}

.opening-row {
	margin-top:10px;
}

.map {
	margin-top:10px;
}

a img.octocat {
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.underline {
	text-decoration:underline;
}

.cyan {
	color:#09f;
	text-shadow: 0px 1px 0px #fff;
}

.bright-green {
  color:#23bf17;
	text-shadow: 0px 1px 0px #fff;
}

.logotype-small {
	font-weight:bold;
	color:#111;
	font-size:28px
}

hr {
  height:5px;
  border:0;
}

#smallProject1 {
	margin-top:160px;
	max-width:160px;
}

#smallProject {
	margin-top:50px;
	
}

.small-project {
	max-width:160px;
	cursor:pointer;
}

.small-project h3 {
	color:#333;
	font-size:14px;
}

.center {
	text-align:center;	
	margin-left:auto;
	margin-right:auto;
}

.right {
	text-align:right;
}

.credit {
	margin-top:20px;
}

.github {
	margin-top:40px;	
}

#sidebar1 li {
	
}

.border {
	border:1px solid red;
}

.page-header h1, .page-header h1 a {
	color:#111;
	text-shadow: 0px 1px 0px #fff;
}

.title:hover {
}

.logo {
	margin-top:20px;
	margin:20px auto 0 auto;
	width:140px;
	text-align:center;
}

.map-example {
  border: 2px solid #999;
}

.hollis-example {
  border: 1px solid #999;
  padding:4px;
  margin-bottom:10px;
}

.center {
	text-align:center;
}
.grey {
	color: #666;
	text-shadow: 0px 1px 0px #fff;
}

h3.text-decoration a, h3.text-decoration a:hover {
	text-decoration:none;
}

iframe {
	width:100%;
}

#timeline{
	margin-top:-50px;
}

ul {
	list-style-type: none;
padding: 0;
margin-left: 5px;

}

li {
	line-height:20px;
}

.share-box {
	border: 1px solid #ccc;
	background:#eee;
	padding:55px 20px 10px;
	width:300px;
	margin: 40px auto;
}

.intercom-mid {
	margin-left:200px;
}

.intercom-title {
	margin-bottom:-85px;
	font-size:43px;
}

form {
	margin-top:15px;
}
form p {
	color:#999;
	text-shadow: 0px 1px 0px #fff;
}


@media (max-width: 768px) {

	#smallProject1, #smallProject2, #smallProject3 {
		margin-top:0px;
		max-width:160px;
	}
	#blog1, #blog2, #blog3 {
		margin:0px auto;
	}
	.title {
		margin-top:0px;
	}
	#people1, #people2, #people3 {
		position:relative;
  		margin: 0 auto;
  		height:auto;
	}
	
	.small-project {
	max-width:160px;
	cursor:pointer;
	margin:0 auto;
	}
}

#feedback-form {
  width:320px;
  margin-left:-157px;
}

#submit-feedback {
  margin-right:25px;
  width:100px;
}

#cancel-feedback {
  margin-right:15px;
  padding-top:5px;
}